<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionName="4.5.1" android:versionCode="451" package="cmupdaterapp.ui">

	<uses-sdk android:minSdkVersion="3"/>

	<application
		android:label="@string/app_name"
		android:icon="@drawable/icon">
		<meta-data
			android:name="com.a0soft.gphone.aTrackDog.webURL"
			android:value="http://code.google.com/p/cyanogen-updater" />
		<meta-data
			android:name="com.a0soft.gphone.aTrackDog.dlURL"
			android:value="http://code.google.com/p/cyanogen-updater/downloads/list" />
		<!--<meta-data
			android:name="com.a0soft.gphone.aTrackDog.testVersion"
			android:value="3" />-->

		<activity
			android:name="cmupdaterapp.ui.MainActivity"
			android:launchMode="singleTask"
			android:configChanges="orientation|keyboardHidden"
			android:theme="@style/Theme.loading">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.settings.SYSTEM_UPDATE_SETTINGS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name="cmupdaterapp.ui.DownloadActivity"
			android:configChanges="orientation|keyboardHidden" />
		<activity
			android:name="cmupdaterapp.ui.ConfigActivity"
			android:configChanges="orientation|keyboardHidden" />
		<activity
			android:name="cmupdaterapp.ui.ApplyUpdateActivity"
			android:configChanges="orientation|keyboardHidden" />			
		<activity
			android:name="cmupdaterapp.ui.ThemeListActivity" />
		<activity
			android:name="cmupdaterapp.ui.ThemeListNewActivity"
			android:configChanges="orientation|keyboardHidden" />
		<receiver android:name="cmupdaterapp.service.StartupReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
				<category android:name="android.intent.category.HOME"></category>
			</intent-filter>
		</receiver>

		<service android:name="cmupdaterapp.service.UpdateCheckerService" />
		<service android:name="cmupdaterapp.service.UpdateDownloaderService" />
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>