<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyanogenmod.updater"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo"
        android:label="@string/app_name">

        <activity
            android:name=".UpdatesSettings"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:label="@string/display_name"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="com.cyanogenmod.updater.service.UpdateCheckService"
                 android:process="com.cyanogenmod.updater.updater.service.UpdateCheckService">
            <intent-filter>
                <action android:name="com.cyanogenmod.updater.interfaces.IUpdateCheckService"/>
            </intent-filter>
        </service>

        <receiver android:name="com.cyanogenmod.updater.receiver.UpdateCheckReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.cyanogenmod.updater.receiver.DownloadCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.cyanogenmod.updater.receiver.NotificationClickReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
